@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  /* text-align: center; */
}

.btn1 {
  @apply btn md:btn-md lg:btn-lg xl:btn-xl;
}